# Asignment 10 ( SQL database )

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, generally stored and accessed electronically from a computer system. Databases are designed to support the storage, retrieval, and manipulation of data efficiently.

### SQL Databases:
- **Structure**: Relational databases that use structured query language (SQL) for defining and manipulating data.
- **Schema**: Have a fixed schema, meaning the structure of data (tables, columns) is defined in advance.
- **Tables**: Data is stored in tables with rows and columns.
- **ACID Compliance**: Ensure Atomicity, Consistency, Isolation, and Durability, which are important for reliable transactions.
- **Examples**: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

### NoSQL Databases:
- **Structure**: Non-relational databases that can store and retrieve data in a variety of formats like key-value pairs, documents, wide-columns, or graphs.
- **Schema**: Typically schema-less or have a flexible schema, allowing for easy changes in the data structure.
- **Storage Models**: Can use various data models, such as document, key-value, graph, or wide-column stores.
- **Scalability**: Designed for horizontal scaling and can handle large volumes of unstructured or semi-structured data.
- **CAP Theorem**: Tend to focus on Consistency, Availability, and Partition tolerance, often trading off one for the others.
- **Examples**: MongoDB, Cassandra, Redis, CouchDB, Neo4j.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language):
DDL is a subset of SQL used to define and manage database structures, such as tables, indexes, and views. DDL commands are used to create, modify, and delete database objects.

Common DDL Commands:
CREATE:

Purpose: Used to create a new database object such as a table, index, or view.
Example: Creating a new table named Employees.
sql
Copy code
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);


DROP:

Purpose: Used to delete an existing database object.
Example: Dropping the Employees table.
sql
Copy code
DROP TABLE Employees;


ALTER:

Purpose: Used to modify an existing database object, such as adding, deleting, or modifying columns in a table.
Example: Adding a new column Email to the Employees table.

sql
Copy code
ALTER TABLE Employees
ADD Email VARCHAR(100);

Example: Modifying the LastName column to increase its length.
sql
Copy code
ALTER TABLE Employees
MODIFY COLUMN LastName VARCHAR(100);

TRUNCATE:

Purpose: Used to delete all rows from a table, but unlike DROP, it does not delete the table itself. It also resets any auto-incremented counters.

Example: Truncating the Employees table.
sql
Copy code
TRUNCATE TABLE Employees;

Explanation:

CREATE: Sets up a new table with specific columns and data types, establishing the structure for storing related data.

DROP: Completely removes the table and its data from the database, freeing up storage and removing all metadata associated with the table.

ALTER: Adjusts the existing table structure to accommodate changes in data requirements without losing existing data.

TRUNCATE: Quickly removes all data from a table while preserving the table structure for future use. It is faster than DELETE without a WHERE clause because it does not generate individual row delete statements.
These commands are fundamental for managing and organizing database schemas, ensuring that the database structure can evolve to meet changing application requirements.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language):

DML is a subset of SQL used for managing data within database objects like tables. DML commands are used to insert, update, delete, and retrieve data.

Common DML Commands:
INSERT:

Purpose: Adds new rows of data to a table.
Example: Inserting a new row into the Employees table.
sql
Copy code
INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
VALUES (1, 'John', 'Doe', '2024-01-01');

UPDATE:

Purpose: Modifies existing data within a table.
Example: Updating the HireDate for an employee with EmployeeID 1.
sql
Copy code
UPDATE Employees
SET HireDate = '2024-02-01'
WHERE EmployeeID = 1;

DELETE:

Purpose: Removes existing rows of data from a table.
Example: Deleting an employee with EmployeeID 1.
sql
Copy code
DELETE FROM Employees
WHERE EmployeeID = 1;

Explanation:

INSERT:

Function: Adds new records to the table, allowing for the growth of the dataset.
Example Explanation: The INSERT statement above adds a new employee named John Doe with a specific hire date to the Employees table.

UPDATE:

Function: Changes existing records in the table based on specified conditions.
Example Explanation: The UPDATE statement modifies the HireDate of the employee with EmployeeID 1, updating the hire date to a new value.

DELETE:

Function: Removes records from the table based on specified conditions.
Example Explanation: The DELETE statement removes the employee with EmployeeID 1 from the Employees table, eliminating that record from the dataset.

These commands are essential for managing the data stored in a database, allowing for the addition, modification, and removal of data as needed to maintain accurate and up-to-date information.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):

DQL is a subset of SQL used to query or retrieve data from a database. The primary command in DQL is SELECT, which allows for the extraction of data from one or more tables.

SELECT Command:

Purpose: Retrieves data from a database.
Basic Syntax:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Examples of SELECT:

Selecting Specific Columns:

Example: Retrieve the FirstName and LastName of all employees.

SELECT FirstName, LastName
FROM Employees;

Selecting All Columns:

Example: Retrieve all columns for all employees.

SELECT *
FROM Employees;

Using WHERE Clause:

Example: Retrieve the details of the employee with EmployeeID 1.


SELECT *
FROM Employees
WHERE EmployeeID = 1;

Using Aggregation:

Example: Count the number of employees.

SELECT COUNT(*)
FROM Employees;
Using JOIN:

Example: Retrieve the names of employees and their department names from two tables: Employees and Departments.

SELECT Employees.FirstName, Employees.LastName, Departments.DepartmentName
FROM Employees
JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

Explanation:

Basic SELECT:

Function: Extracts data from one or more specified columns.
Example Explanation: The first example retrieves only the FirstName and LastName of all employees from the Employees table.

Wildcard SELECT:

Function: Extracts data from all columns in a table.
Example Explanation: The second example retrieves all the columns of all rows from the Employees table.

Conditional SELECT:

Function: Extracts data based on a specified condition.
Example Explanation: The third example retrieves all details of the employee whose EmployeeID is 1.

Aggregate Functions:

Function: Performs a calculation on a set of values and returns a single value.
Example Explanation: The fourth example counts the total number of employees in the Employees table.

JOIN Operations:

Function: Combines rows from two or more tables based on a related column.

Example Explanation: The fifth example retrieves employee names along with their department names by joining the Employees and Departments tables on the DepartmentID.

The SELECT statement is powerful and versatile, enabling users to query the database to retrieve precisely the data they need in a variety of formats and conditions.

Q5. Explain Primary Key and Foreign Key.

Primary Key:

Definition: A primary key is a unique identifier for a record in a database table. It ensures that each record can be uniquely identified and prevents duplicate entries.
Characteristics:
Uniqueness: Each value in the primary key column(s) must be unique across the table.
Non-null: Primary key columns cannot contain NULL values.
Single or Composite: A primary key can consist of a single column or a combination of columns (composite primary key).
Example: In a table named Employees, the EmployeeID column could be the primary key.

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);

Foreign Key:
Definition: A foreign key is a field (or collection of fields) in one table that uniquely identifies a row of another table. The foreign key establishes a relationship between the two tables.
Characteristics:
Referential Integrity: Ensures that the value in the foreign key column matches a value in the primary key column of the referenced table.
Constraints: Helps maintain data integrity by enforcing valid relationships between tables.
Nullable or Non-nullable: Foreign key columns can contain NULL values if the relationship is optional.
Example: In a table named Orders, the CustomerID column could be a foreign key referencing the CustomerID in the Customers table.

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

Summary:

Primary Key: Ensures each record in a table is unique and identifiable. It cannot have duplicate or NULL values.
Foreign Key: Creates a link between two tables by referencing the primary key of another table, ensuring referential integrity and enabling relationships between tables.

These keys are fundamental in relational database design, enabling efficient data retrieval, maintaining data integrity, and enforcing relationships between different data entities.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to the database
connection = mysql.connector.connect(
    host='localhost',      # Database host
    user='your_username',  # Database username
    password='your_password',  # Database password
    database='your_database'  # Database name
)

# Create a cursor object using the cursor() method
cursor = connection.cursor()

# Execute a query using the execute() method
cursor.execute("SELECT * FROM Employees")

# Fetch all the rows from the executed query
rows = cursor.fetchall()

# Print the fetched rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

Explanation:

cursor() Method:

Purpose: The cursor() method creates a cursor object that allows you to execute SQL queries and fetch data from the database.

Usage:

cursor = connection.cursor()

Function: This line creates a new cursor object named cursor using the connection object.

execute() Method:

Purpose: The execute() method is used to execute a SQL query through the cursor object.
Usage:

cursor.execute("SELECT * FROM Employees")

Function: This line executes the SQL query "SELECT * FROM Employees". The query is sent to the database server for execution.

Detailed Steps:

Import the mysql.connector Library:

The library is imported to enable MySQL database interactions in Python.
Establish a Connection:

The mysql.connector.connect method is used to establish a connection to the MySQL database by providing the necessary credentials and database details.

connection = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)

Create a Cursor:

The cursor() method of the connection object is called to create a cursor. This cursor will be used to execute SQL queries.

cursor = connection.cursor()
Execute a Query:

The execute() method of the cursor object is used to run an SQL query. Here, it retrieves all records from the Employees table.

cursor.execute("SELECT * FROM Employees")
Fetch and Process Data:

The fetchall() method retrieves all rows from the executed query, which are then printed.

rows = cursor.fetchall()
for row in rows:
    print(row)
    
Close the Cursor and Connection:

It’s good practice to close the cursor and the database connection after operations are complete to free up resources.

cursor.close()
connection.close()

This example demonstrates how to connect to a MySQL database, execute a query, fetch results, and handle database resources properly using Python.